USE [master]
GO
/****** Objeto: Database [DBImpocheck] Fecha de script: 13/06/2026 14:03:53 ******/
CREATE DATABASE [DBImpocheck]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DBImpocheck', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\DBImpocheck.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DBImpocheck_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\DBImpocheck_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DBImpocheck].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DBImpocheck]
GO
/****** Objeto: UserDefinedTableType [dbo].[Tipo_Detalle_Pedido] Fecha de script: 13/06/2026 14:03:54 ******/
CREATE TYPE [dbo].[Tipo_Detalle_Pedido] AS TABLE(
	[ArticuloID] [int] NULL,
	[cantidad_pedida] [int] NULL
)
GO
/****** Objeto: Table [dbo].[Areas] Fecha de script: 13/06/2026 14:03:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Areas](
	[id_area] [int] NOT NULL,
	[descripcion] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_area] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Articulos] Fecha de script: 13/06/2026 14:03:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Articulos](
	[ArticuloID] [int] IDENTITY(1,1) NOT NULL,
	[NumeroArticulo] [int] NOT NULL,
	[Nombre] [nvarchar](100) NOT NULL,
	[Descripcion] [nvarchar](max) NULL,
	[UnidadMedida] [nvarchar](20) NULL,
	[VolumenM3] [decimal](10, 4) NULL,
	[UnidadesPorBulto] [int] NULL,
	[PesoKilos] [decimal](10, 2) NULL,
	[Color] [nvarchar](50) NULL,
	[CodigoEAN13] [char](13) NOT NULL,
	[FechaIngreso] [datetime] NULL,
	[FechaBaja] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ArticuloID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Articulos_Fotos] Fecha de script: 13/06/2026 14:03:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Articulos_Fotos](
	[ArticuloID] [int] NOT NULL,
	[numeroFoto] [int] NOT NULL,
	[archivoFoto] [varbinary](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[ArticuloID] ASC,
	[numeroFoto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Articulos_Precios] Fecha de script: 13/06/2026 14:03:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Articulos_Precios](
	[Cod_Listas_Precios] [int] NOT NULL,
	[ArticuloID] [int] NOT NULL,
	[precio] [money] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Cod_Listas_Precios] ASC,
	[ArticuloID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Cobros_Cheques] Fecha de script: 13/06/2026 14:03:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cobros_Cheques](
	[ID_cobro_cheque] [int] IDENTITY(1,1) NOT NULL,
	[ID_Recibo] [int] NOT NULL,
	[id_tipo_cheque] [int] NOT NULL,
	[numero] [int] NOT NULL,
	[banco] [nchar](30) NOT NULL,
	[monto_cheque] [money] NOT NULL,
	[fecha_vencimiento] [date] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_cobro_cheque] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Cobros_Efectivo] Fecha de script: 13/06/2026 14:03:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cobros_Efectivo](
	[ID_Cobro_Efectivo] [int] IDENTITY(1,1) NOT NULL,
	[ID_Recibo] [int] NOT NULL,
	[id_moneda_origen] [int] NOT NULL,
	[monto_moneda_origen] [money] NOT NULL,
	[cotizacion] [decimal](18, 4) NOT NULL,
	[monto_moneda_local] [money] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Cobro_Efectivo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Cobros_retenciones] Fecha de script: 13/06/2026 14:03:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cobros_retenciones](
	[id_cobro_ret] [int] IDENTITY(1,1) NOT NULL,
	[cod_tipo_impuesto] [int] NOT NULL,
	[ID_Recibo] [int] NOT NULL,
	[numero_certificado] [varchar](30) NOT NULL,
	[fecha_certificado] [date] NOT NULL,
	[monto_imponible] [money] NOT NULL,
	[alicuota] [decimal](5, 2) NOT NULL,
	[monto_retenido] [money] NOT NULL,
	[archivo_retencion] [varbinary](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_cobro_ret] ASC,
	[cod_tipo_impuesto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Cobros_Transferencias] Fecha de script: 13/06/2026 14:03:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cobros_Transferencias](
	[id_Cobro_Transf] [int] IDENTITY(1,1) NOT NULL,
	[ID_Recibo] [int] NOT NULL,
	[Numero_Cuenta] [nchar](20) NOT NULL,
	[fecha_efectiva] [date] NOT NULL,
	[monto_transferido] [money] NOT NULL,
	[comprobante_pdf] [varbinary](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_Cobro_Transf] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Compras] Fecha de script: 13/06/2026 14:03:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Compras](
	[Numero_OC] [int] IDENTITY(1,1) NOT NULL,
	[fecha_alta] [date] NOT NULL,
	[Id_interno_Prov] [int] NOT NULL,
	[moneda_OC] [int] NOT NULL,
	[porcentaje_descuento] [decimal](4, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[Numero_OC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Compras_Aprobadas] Fecha de script: 13/06/2026 14:03:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Compras_Aprobadas](
	[Numero_OC] [int] NOT NULL,
	[fecha_aprobacion] [date] NOT NULL,
	[hora_aprobacion] [time](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Numero_OC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Condiciones_Pago] Fecha de script: 13/06/2026 14:03:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Condiciones_Pago](
	[cod_condicion_pago] [int] NOT NULL,
	[descripcion] [varchar](50) NOT NULL,
	[cantidad_cuotas] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[cod_condicion_pago] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Cuenta_bancaria] Fecha de script: 13/06/2026 14:03:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cuenta_bancaria](
	[Numero_Cuenta] [nchar](20) NOT NULL,
	[id_moneda] [int] NOT NULL,
	[banco] [nvarchar](20) NOT NULL,
	[fecha_alta] [date] NOT NULL,
	[CBU] [char](13) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Numero_Cuenta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Cuotas_Cobradas] Fecha de script: 13/06/2026 14:03:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cuotas_Cobradas](
	[id_remito_Venta] [int] NOT NULL,
	[numero_cuota] [int] NOT NULL,
	[ID_Recibo] [int] NOT NULL,
	[pago_en_termino] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_remito_Venta] ASC,
	[numero_cuota] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Depositos] Fecha de script: 13/06/2026 14:03:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Depositos](
	[Cod_deposito] [int] NOT NULL,
	[descripcion] [varchar](100) NOT NULL,
	[direccion] [nchar](50) NOT NULL,
	[capacidad_total_m3] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Cod_deposito] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[DireccionesDistribuidores] Fecha de script: 13/06/2026 14:03:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DireccionesDistribuidores](
	[CUIT] [char](11) NOT NULL,
	[codigo_direccion] [int] NOT NULL,
	[direccion] [varchar](80) NULL,
	[telefono] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[CUIT] ASC,
	[codigo_direccion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Distribuidores] Fecha de script: 13/06/2026 14:03:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Distribuidores](
	[CUIT] [char](11) NOT NULL,
	[RazonSocial] [nvarchar](150) NOT NULL,
	[NombreFantasia] [nvarchar](150) NULL,
	[DireccionFiscal] [nvarchar](255) NOT NULL,
	[Email] [nvarchar](100) NULL,
	[ZonaCobertura] [nvarchar](100) NULL,
	[LimiteCredito] [decimal](18, 2) NULL,
	[CondicionFiscal] [nvarchar](50) NULL,
	[FechaAlta] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[CUIT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Empleados] Fecha de script: 13/06/2026 14:03:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Empleados](
	[DNI] [int] NOT NULL,
	[fecha_ingreso] [date] NULL,
	[CUIL] [char](12) NOT NULL,
	[num_legajo] [int] NOT NULL,
	[id_area] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[DNI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Facturas_a_pagar] Fecha de script: 13/06/2026 14:03:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Facturas_a_pagar](
	[id_remito] [int] NOT NULL,
	[id_Pago] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_remito] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Facturas_Proveedores] Fecha de script: 13/06/2026 14:03:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Facturas_Proveedores](
	[id_remito] [int] NOT NULL,
	[fecha_alta] [date] NOT NULL,
	[fecha_vencimiento] [date] NOT NULL,
	[monto_sin_impuestos] [money] NOT NULL,
	[monto_impuestos] [money] NOT NULL,
	[referencia_proveedor] [varchar](15) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_remito] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Facturas_Ventas] Fecha de script: 13/06/2026 14:03:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Facturas_Ventas](
	[id_remito_Venta] [int] NOT NULL,
	[fecha_alta] [date] NOT NULL,
	[hora_alta] [time](7) NOT NULL,
	[letra] [char](1) NOT NULL,
	[sucursal] [int] NOT NULL,
	[numero] [int] NOT NULL,
	[monto_total_facturado] [money] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_remito_Venta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Facturas_Ventas_Vencimientos] Fecha de script: 13/06/2026 14:03:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Facturas_Ventas_Vencimientos](
	[id_remito_Venta] [int] NOT NULL,
	[numero_cuota] [int] NOT NULL,
	[fecha_vencimiento] [date] NOT NULL,
	[monto_cuota] [money] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_remito_Venta] ASC,
	[numero_cuota] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Hijo_Empleado] Fecha de script: 13/06/2026 14:03:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Hijo_Empleado](
	[DNI_Empleado] [int] NOT NULL,
	[DNI_Hijo] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[DNI_Empleado] ASC,
	[DNI_Hijo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Items_Compra] Fecha de script: 13/06/2026 14:03:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Items_Compra](
	[Numero_OC] [int] NOT NULL,
	[ArticuloID] [int] NOT NULL,
	[cantidad] [int] NOT NULL,
	[precio] [money] NOT NULL,
	[fecha_entrega] [date] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Numero_OC] ASC,
	[ArticuloID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Items_Pedido] Fecha de script: 13/06/2026 14:03:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Items_Pedido](
	[Id_pedido] [int] NOT NULL,
	[ArticuloID] [int] NOT NULL,
	[cantidad_pedida] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id_pedido] ASC,
	[ArticuloID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Items_Remitidos_Facturados] Fecha de script: 13/06/2026 14:03:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Items_Remitidos_Facturados](
	[id_remito] [int] NOT NULL,
	[Numero_OC] [int] NOT NULL,
	[ArticuloID] [int] NOT NULL,
	[precio_unitario_final] [money] NOT NULL,
	[monto_unitario_impuestos] [money] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_remito] ASC,
	[Numero_OC] ASC,
	[ArticuloID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Items_Remitidos_Ventas] Fecha de script: 13/06/2026 14:03:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Items_Remitidos_Ventas](
	[Id_pedido] [int] NOT NULL,
	[ArticuloID] [int] NOT NULL,
	[id_remito_Venta] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id_pedido] ASC,
	[ArticuloID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Items_Remito] Fecha de script: 13/06/2026 14:03:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Items_Remito](
	[id_remito] [int] NOT NULL,
	[Numero_OC] [int] NOT NULL,
	[ArticuloID] [int] NOT NULL,
	[cantidades_recibidas] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_remito] ASC,
	[Numero_OC] ASC,
	[ArticuloID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Licencias_empleados] Fecha de script: 13/06/2026 14:03:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Licencias_empleados](
	[ID_licencia] [int] IDENTITY(1,1) NOT NULL,
	[DNI_empleado] [int] NOT NULL,
	[id_tipo_licencia] [int] NOT NULL,
	[fecha_inicio] [date] NOT NULL,
	[fecha_fin] [date] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_licencia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[ListasDePrecios] Fecha de script: 13/06/2026 14:03:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ListasDePrecios](
	[Cod_Listas_Precios] [int] NOT NULL,
	[nombre] [nchar](30) NOT NULL,
	[vigencia_desde] [date] NOT NULL,
	[vigencia_hasta] [date] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Cod_Listas_Precios] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Monedas] Fecha de script: 13/06/2026 14:03:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Monedas](
	[id_moneda] [int] NOT NULL,
	[descripcion] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_moneda] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Orden_de_Pago] Fecha de script: 13/06/2026 14:03:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orden_de_Pago](
	[id_Pago] [int] IDENTITY(1,1) NOT NULL,
	[fecha_alta] [date] NOT NULL,
	[Id_interno_Prov] [int] NOT NULL,
	[observaciones] [nchar](200) NULL,
	[fecha_pago] [date] NOT NULL,
	[Numero_Cuenta] [nchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_Pago] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Orden_de_preparacion] Fecha de script: 13/06/2026 14:03:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orden_de_preparacion](
	[Id_pedido] [int] NOT NULL,
	[ArticuloID] [int] NOT NULL,
	[Cod_deposito] [int] NOT NULL,
	[DNI_preparador_asignado] [int] NOT NULL,
	[observaciones_de_entrega] [nvarchar](200) NULL,
	[fecha_alta] [date] NOT NULL,
	[hora_alta] [time](7) NOT NULL,
	[cantidad_preparada] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id_pedido] ASC,
	[ArticuloID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Pedidos_Distribuidores] Fecha de script: 13/06/2026 14:03:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pedidos_Distribuidores](
	[Id_pedido] [int] IDENTITY(1,1) NOT NULL,
	[fecha_alta] [date] NOT NULL,
	[CUIT_Cliente] [char](11) NOT NULL,
	[codigo_direccion] [int] NOT NULL,
	[fecha_entrega] [date] NOT NULL,
	[Cod_Listas_Precios] [int] NOT NULL,
	[cod_condicion_pago] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id_pedido] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[PedidosAprobados] Fecha de script: 13/06/2026 14:03:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PedidosAprobados](
	[Id_pedido] [int] NOT NULL,
	[fecha_aprobacion] [date] NOT NULL,
	[hora_aprobacion] [time](7) NOT NULL,
	[DNI_aprobador] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id_pedido] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Personas] Fecha de script: 13/06/2026 14:03:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Personas](
	[DNI] [int] NOT NULL,
	[nombre] [char](50) NOT NULL,
	[apellido] [char](50) NOT NULL,
	[fecha_nacimiento] [date] NOT NULL,
	[domicilio] [nchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[DNI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Proveedores] Fecha de script: 13/06/2026 14:03:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Proveedores](
	[Id_interno_Prov] [int] IDENTITY(1,1) NOT NULL,
	[tax_id] [varchar](20) NULL,
	[nombre_empresa] [varchar](50) NOT NULL,
	[pais] [char](50) NULL,
	[sitio_web] [nchar](50) NULL,
	[id_moneda] [int] NULL,
	[banco] [char](30) NULL,
	[CBU] [char](13) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id_interno_Prov] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Proveedores_certificaciones] Fecha de script: 13/06/2026 14:03:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Proveedores_certificaciones](
	[Id_interno_Prov] [int] NOT NULL,
	[certificacion] [nchar](40) NOT NULL,
	[archivo_pdf] [varbinary](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id_interno_Prov] ASC,
	[certificacion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Proveedores_Mails] Fecha de script: 13/06/2026 14:03:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Proveedores_Mails](
	[Id_interno_Prov] [int] NOT NULL,
	[mail] [nchar](50) NOT NULL,
	[tipo_contacto] [nchar](30) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id_interno_Prov] ASC,
	[mail] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Recibos] Fecha de script: 13/06/2026 14:03:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Recibos](
	[ID_Recibo] [int] IDENTITY(1,1) NOT NULL,
	[fecha_alta] [date] NOT NULL,
	[hora_alta] [time](7) NOT NULL,
	[DNI_cobrador] [int] NOT NULL,
	[CUIT_cliente] [char](11) NOT NULL,
	[monto_total_cobrado] [money] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Recibo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Remitos_Compras] Fecha de script: 13/06/2026 14:03:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Remitos_Compras](
	[id_remito] [int] IDENTITY(1,1) NOT NULL,
	[fecha_alta] [date] NOT NULL,
	[hora_alta] [time](7) NOT NULL,
	[Numero_OC] [int] NOT NULL,
	[DNI_Empleado_Receptor] [int] NOT NULL,
	[Cod_deposito_Receptor] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_remito] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Remitos_Ventas] Fecha de script: 13/06/2026 14:03:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Remitos_Ventas](
	[id_remito_Venta] [int] IDENTITY(1,1) NOT NULL,
	[sucursal] [int] NOT NULL,
	[numero] [int] NOT NULL,
	[fecha_alta] [date] NOT NULL,
	[hora_alta] [time](7) NOT NULL,
	[volumen_total_m3] [decimal](10, 2) NULL,
	[peso_total_kg] [decimal](10, 2) NULL,
	[CUIT_Cliente] [char](11) NOT NULL,
	[codigo_direccion] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_remito_Venta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Tipos_de_Cheques] Fecha de script: 13/06/2026 14:03:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tipos_de_Cheques](
	[id_tipo_cheque] [int] NOT NULL,
	[descripcion] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_tipo_cheque] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[tipos_de_impuestos] Fecha de script: 13/06/2026 14:03:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tipos_de_impuestos](
	[cod_tipo_impuesto] [int] NOT NULL,
	[descripcion] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[cod_tipo_impuesto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Tipos_Licencias] Fecha de script: 13/06/2026 14:03:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tipos_Licencias](
	[id_tipo_licencia] [int] NOT NULL,
	[nombre_licencia] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_tipo_licencia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Ubicaciones] Fecha de script: 13/06/2026 14:03:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ubicaciones](
	[Cod_deposito] [int] NOT NULL,
	[id_ubicacion] [int] NOT NULL,
	[capacidad_ubicacion_m3] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Cod_deposito] ASC,
	[id_ubicacion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Areas] ([id_area], [descripcion]) VALUES (1, N'Administración')
INSERT [dbo].[Areas] ([id_area], [descripcion]) VALUES (2, N'Depósito')
INSERT [dbo].[Areas] ([id_area], [descripcion]) VALUES (3, N'Ventas')
GO
SET IDENTITY_INSERT [dbo].[Articulos] ON 

INSERT [dbo].[Articulos] ([ArticuloID], [NumeroArticulo], [Nombre], [Descripcion], [UnidadMedida], [VolumenM3], [UnidadesPorBulto], [PesoKilos], [Color], [CodigoEAN13], [FechaIngreso], [FechaBaja]) VALUES (1, 1001, N'Producto Pro-XT 1', N'Descripción detallada del artículo modelo 1', N'Caja', CAST(0.0010 AS Decimal(10, 4)), 6, CAST(0.50 AS Decimal(10, 2)), N'plata', N'7790000000001', CAST(N'2026-04-06T16:27:44.523' AS DateTime), NULL)
INSERT [dbo].[Articulos] ([ArticuloID], [NumeroArticulo], [Nombre], [Descripcion], [UnidadMedida], [VolumenM3], [UnidadesPorBulto], [PesoKilos], [Color], [CodigoEAN13], [FechaIngreso], [FechaBaja]) VALUES (2, 1002, N'auricular xiu89', N'Descripción detallada del artículo modelo 2', N'Unidad', CAST(0.0020 AS Decimal(10, 4)), 6, CAST(1.00 AS Decimal(10, 2)), N'Negro', N'7790000000002', CAST(N'2026-03-06T16:27:44.567' AS DateTime), NULL)
INSERT [dbo].[Articulos] ([ArticuloID], [NumeroArticulo], [Nombre], [Descripcion], [UnidadMedida], [VolumenM3], [UnidadesPorBulto], [PesoKilos], [Color], [CodigoEAN13], [FechaIngreso], [FechaBaja]) VALUES (3, 1003, N'microfono mhy79', N'Descripción detallada del artículo modelo 3', N'Caja', CAST(0.0030 AS Decimal(10, 4)), 6, CAST(1.50 AS Decimal(10, 2)), N'plata', N'7790000000003', CAST(N'2026-02-06T16:27:44.570' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[Articulos] OFF
GO
INSERT [dbo].[Articulos_Precios] ([Cod_Listas_Precios], [ArticuloID], [precio]) VALUES (1, 1, 657.0000)
INSERT [dbo].[Articulos_Precios] ([Cod_Listas_Precios], [ArticuloID], [precio]) VALUES (1, 2, 569.0000)
INSERT [dbo].[Articulos_Precios] ([Cod_Listas_Precios], [ArticuloID], [precio]) VALUES (1, 3, 4320.0000)
GO
SET IDENTITY_INSERT [dbo].[Cobros_Cheques] ON 

INSERT [dbo].[Cobros_Cheques] ([ID_cobro_cheque], [ID_Recibo], [id_tipo_cheque], [numero], [banco], [monto_cheque], [fecha_vencimiento]) VALUES (1, 1, 1, 1001, N'Banco Nación                  ', 4065.6000, CAST(N'2026-02-08' AS Date))
INSERT [dbo].[Cobros_Cheques] ([ID_cobro_cheque], [ID_Recibo], [id_tipo_cheque], [numero], [banco], [monto_cheque], [fecha_vencimiento]) VALUES (2, 2, 1, 1002, N'Banco Nación                  ', 94873.2500, CAST(N'2026-04-10' AS Date))
INSERT [dbo].[Cobros_Cheques] ([ID_cobro_cheque], [ID_Recibo], [id_tipo_cheque], [numero], [banco], [monto_cheque], [fecha_vencimiento]) VALUES (3, 4, 1, 1004, N'Banco Nación                  ', 15617.0666, CAST(N'2026-03-14' AS Date))
SET IDENTITY_INSERT [dbo].[Cobros_Cheques] OFF
GO
SET IDENTITY_INSERT [dbo].[Cobros_Efectivo] ON 

INSERT [dbo].[Cobros_Efectivo] ([ID_Cobro_Efectivo], [ID_Recibo], [id_moneda_origen], [monto_moneda_origen], [cotizacion], [monto_moneda_local]) VALUES (1, 1, 1, 4065.6000, CAST(1.0000 AS Decimal(18, 4)), 4065.6000)
INSERT [dbo].[Cobros_Efectivo] ([ID_Cobro_Efectivo], [ID_Recibo], [id_moneda_origen], [monto_moneda_origen], [cotizacion], [monto_moneda_local]) VALUES (2, 2, 1, 94873.2500, CAST(1.0000 AS Decimal(18, 4)), 94873.2500)
INSERT [dbo].[Cobros_Efectivo] ([ID_Cobro_Efectivo], [ID_Recibo], [id_moneda_origen], [monto_moneda_origen], [cotizacion], [monto_moneda_local]) VALUES (3, 3, 1, 6098.4000, CAST(1.0000 AS Decimal(18, 4)), 6098.4000)
SET IDENTITY_INSERT [dbo].[Cobros_Efectivo] OFF
GO
SET IDENTITY_INSERT [dbo].[Cobros_retenciones] ON 

INSERT [dbo].[Cobros_retenciones] ([id_cobro_ret], [cod_tipo_impuesto], [ID_Recibo], [numero_certificado], [fecha_certificado], [monto_imponible], [alicuota], [monto_retenido], [archivo_retencion]) VALUES (1, 2, 2, N'RET-2', CAST(N'2026-04-10' AS Date), 948732.5000, CAST(3.50 AS Decimal(5, 2)), 0.0000, NULL)
INSERT [dbo].[Cobros_retenciones] ([id_cobro_ret], [cod_tipo_impuesto], [ID_Recibo], [numero_certificado], [fecha_certificado], [monto_imponible], [alicuota], [monto_retenido], [archivo_retencion]) VALUES (2, 2, 6, N'RET-6', CAST(N'2026-03-16' AS Date), 257500.0000, CAST(3.50 AS Decimal(5, 2)), 0.0000, NULL)
INSERT [dbo].[Cobros_retenciones] ([id_cobro_ret], [cod_tipo_impuesto], [ID_Recibo], [numero_certificado], [fecha_certificado], [monto_imponible], [alicuota], [monto_retenido], [archivo_retencion]) VALUES (3, 2, 8, N'RET-8', CAST(N'2026-03-17' AS Date), 117128.0000, CAST(3.50 AS Decimal(5, 2)), 0.0000, NULL)
SET IDENTITY_INSERT [dbo].[Cobros_retenciones] OFF
GO
SET IDENTITY_INSERT [dbo].[Cobros_Transferencias] ON 

INSERT [dbo].[Cobros_Transferencias] ([id_Cobro_Transf], [ID_Recibo], [Numero_Cuenta], [fecha_efectiva], [monto_transferido], [comprobante_pdf]) VALUES (1, 1, N'CTA-GAL-001         ', CAST(N'2026-02-08' AS Date), 4065.6000, NULL)
INSERT [dbo].[Cobros_Transferencias] ([id_Cobro_Transf], [ID_Recibo], [Numero_Cuenta], [fecha_efectiva], [monto_transferido], [comprobante_pdf]) VALUES (2, 2, N'CTA-GAL-001         ', CAST(N'2026-04-10' AS Date), 94873.2500, NULL)
INSERT [dbo].[Cobros_Transferencias] ([id_Cobro_Transf], [ID_Recibo], [Numero_Cuenta], [fecha_efectiva], [monto_transferido], [comprobante_pdf]) VALUES (3, 3, N'CTA-GAL-001         ', CAST(N'2026-02-12' AS Date), 6098.4000, NULL)
SET IDENTITY_INSERT [dbo].[Cobros_Transferencias] OFF
GO
SET IDENTITY_INSERT [dbo].[Compras] ON 

INSERT [dbo].[Compras] ([Numero_OC], [fecha_alta], [Id_interno_Prov], [moneda_OC], [porcentaje_descuento]) VALUES (1, CAST(N'2026-01-08' AS Date), 8, 1, CAST(2.00 AS Decimal(4, 2)))
INSERT [dbo].[Compras] ([Numero_OC], [fecha_alta], [Id_interno_Prov], [moneda_OC], [porcentaje_descuento]) VALUES (2, CAST(N'2026-01-16' AS Date), 12, 2, CAST(2.00 AS Decimal(4, 2)))
INSERT [dbo].[Compras] ([Numero_OC], [fecha_alta], [Id_interno_Prov], [moneda_OC], [porcentaje_descuento]) VALUES (3, CAST(N'2026-01-24' AS Date), 17, 2, CAST(1.00 AS Decimal(4, 2)))
SET IDENTITY_INSERT [dbo].[Compras] OFF
GO
INSERT [dbo].[Compras_Aprobadas] ([Numero_OC], [fecha_aprobacion], [hora_aprobacion]) VALUES (1, CAST(N'2026-01-08' AS Date), CAST(N'10:00:00' AS Time))
INSERT [dbo].[Compras_Aprobadas] ([Numero_OC], [fecha_aprobacion], [hora_aprobacion]) VALUES (2, CAST(N'2026-01-16' AS Date), CAST(N'10:00:00' AS Time))
INSERT [dbo].[Compras_Aprobadas] ([Numero_OC], [fecha_aprobacion], [hora_aprobacion]) VALUES (3, CAST(N'2026-01-24' AS Date), CAST(N'10:00:00' AS Time))
GO
INSERT [dbo].[Condiciones_Pago] ([cod_condicion_pago], [descripcion], [cantidad_cuotas]) VALUES (1, N'7 días', 1)
INSERT [dbo].[Condiciones_Pago] ([cod_condicion_pago], [descripcion], [cantidad_cuotas]) VALUES (2, N'15 días', 1)
INSERT [dbo].[Condiciones_Pago] ([cod_condicion_pago], [descripcion], [cantidad_cuotas]) VALUES (3, N'30 días', 1)
GO
INSERT [dbo].[Cuenta_bancaria] ([Numero_Cuenta], [id_moneda], [banco], [fecha_alta], [CBU]) VALUES (N'CTA-GAL-001         ', 1, N'Banco Galicia', CAST(N'2025-01-01' AS Date), N'0070001122334')
INSERT [dbo].[Cuenta_bancaria] ([Numero_Cuenta], [id_moneda], [banco], [fecha_alta], [CBU]) VALUES (N'CTA-MAC-002         ', 1, N'Banco Macro', CAST(N'2025-01-01' AS Date), N'0110002233445')
INSERT [dbo].[Cuenta_bancaria] ([Numero_Cuenta], [id_moneda], [banco], [fecha_alta], [CBU]) VALUES (N'CTA-SAN-003         ', 2, N'Banco Santander', CAST(N'2025-01-01' AS Date), N'0720003344556')
GO
INSERT [dbo].[Cuotas_Cobradas] ([id_remito_Venta], [numero_cuota], [ID_Recibo], [pago_en_termino]) VALUES (1, 1, 1, 1)
INSERT [dbo].[Cuotas_Cobradas] ([id_remito_Venta], [numero_cuota], [ID_Recibo], [pago_en_termino]) VALUES (2, 1, 2, 1)
INSERT [dbo].[Cuotas_Cobradas] ([id_remito_Venta], [numero_cuota], [ID_Recibo], [pago_en_termino]) VALUES (2, 2, 2, 1)
GO
INSERT [dbo].[Depositos] ([Cod_deposito], [descripcion], [direccion], [capacidad_total_m3]) VALUES (1, N'Deposito 1', N'Zona Industrial 1                                 ', 1000)
INSERT [dbo].[Depositos] ([Cod_deposito], [descripcion], [direccion], [capacidad_total_m3]) VALUES (2, N'Deposito 2', N'Zona Industrial 2                                 ', 1000)
INSERT [dbo].[Depositos] ([Cod_deposito], [descripcion], [direccion], [capacidad_total_m3]) VALUES (3, N'Deposito 3', N'Zona Industrial 3                                 ', 1000)
GO
INSERT [dbo].[DireccionesDistribuidores] ([CUIT], [codigo_direccion], [direccion], [telefono]) VALUES (N'30100000001', 1, N'Sede Central 1', 44440001)
INSERT [dbo].[DireccionesDistribuidores] ([CUIT], [codigo_direccion], [direccion], [telefono]) VALUES (N'30100000002', 1, N'Sede Central 2', 44440002)
INSERT [dbo].[DireccionesDistribuidores] ([CUIT], [codigo_direccion], [direccion], [telefono]) VALUES (N'30100000003', 1, N'Sede Central 3', 44440003)
GO
INSERT [dbo].[Distribuidores] ([CUIT], [RazonSocial], [NombreFantasia], [DireccionFiscal], [Email], [ZonaCobertura], [LimiteCredito], [CondicionFiscal], [FechaAlta]) VALUES (N'30100000001', N'Empresa de Logística 1 S.A.', N'Distribuidora 1', N'Av. Siempre Viva 101', N'contacto@distri1.com', N'Zona Norte', CAST(60000.00 AS Decimal(18, 2)), N'Responsable Inscripto', CAST(N'2026-05-06T16:18:13.257' AS DateTime))
INSERT [dbo].[Distribuidores] ([CUIT], [RazonSocial], [NombreFantasia], [DireccionFiscal], [Email], [ZonaCobertura], [LimiteCredito], [CondicionFiscal], [FechaAlta]) VALUES (N'30100000002', N'Empresa de Logística 2 S.A.', N'Distribuidora 2', N'Av. Siempre Viva 102', N'contacto@distri2.com', N'Zona Norte', CAST(120000.00 AS Decimal(18, 2)), N'Responsable Inscripto', CAST(N'2026-05-06T16:18:13.297' AS DateTime))
INSERT [dbo].[Distribuidores] ([CUIT], [RazonSocial], [NombreFantasia], [DireccionFiscal], [Email], [ZonaCobertura], [LimiteCredito], [CondicionFiscal], [FechaAlta]) VALUES (N'30100000003', N'Empresa de Logística 3 S.A.', N'Distribuidora 3', N'Av. Siempre Viva 103', N'contacto@distri3.com', N'Zona Norte', CAST(180000.00 AS Decimal(18, 2)), N'Responsable Inscripto', CAST(N'2026-05-06T16:18:13.300' AS DateTime))
GO
INSERT [dbo].[Empleados] ([DNI], [fecha_ingreso], [CUIL], [num_legajo], [id_area]) VALUES (20000001, CAST(N'2026-04-26' AS Date), N'020200000011', 1001, 2)
INSERT [dbo].[Empleados] ([DNI], [fecha_ingreso], [CUIL], [num_legajo], [id_area]) VALUES (20000002, CAST(N'2026-04-16' AS Date), N'020200000022', 1002, 3)
INSERT [dbo].[Empleados] ([DNI], [fecha_ingreso], [CUIL], [num_legajo], [id_area]) VALUES (20000003, CAST(N'2026-04-06' AS Date), N'020200000033', 1003, 4)
GO
INSERT [dbo].[Facturas_a_pagar] ([id_remito], [id_Pago]) VALUES (1, 1)
INSERT [dbo].[Facturas_a_pagar] ([id_remito], [id_Pago]) VALUES (2, 2)
INSERT [dbo].[Facturas_a_pagar] ([id_remito], [id_Pago]) VALUES (3, 3)
GO
INSERT [dbo].[Facturas_Proveedores] ([id_remito], [fecha_alta], [fecha_vencimiento], [monto_sin_impuestos], [monto_impuestos], [referencia_proveedor]) VALUES (1, CAST(N'2026-01-10' AS Date), CAST(N'2026-02-09' AS Date), 198819.7700, 41752.1517, N'FC-1')
INSERT [dbo].[Facturas_Proveedores] ([id_remito], [fecha_alta], [fecha_vencimiento], [monto_sin_impuestos], [monto_impuestos], [referencia_proveedor]) VALUES (2, CAST(N'2026-01-18' AS Date), CAST(N'2026-02-17' AS Date), 144666.5000, 30379.9650, N'FC-2')
INSERT [dbo].[Facturas_Proveedores] ([id_remito], [fecha_alta], [fecha_vencimiento], [monto_sin_impuestos], [monto_impuestos], [referencia_proveedor]) VALUES (3, CAST(N'2026-01-26' AS Date), CAST(N'2026-02-25' AS Date), 147523.0500, 30979.8405, N'FC-3')
GO
INSERT [dbo].[Facturas_Ventas] ([id_remito_Venta], [fecha_alta], [hora_alta], [letra], [sucursal], [numero], [monto_total_facturado]) VALUES (1, CAST(N'2026-01-11' AS Date), CAST(N'09:00:00' AS Time), N'A', 1, 2001, 12196.8000)
INSERT [dbo].[Facturas_Ventas] ([id_remito_Venta], [fecha_alta], [hora_alta], [letra], [sucursal], [numero], [monto_total_facturado]) VALUES (2, CAST(N'2026-01-13' AS Date), CAST(N'09:00:00' AS Time), N'A', 1, 2002, 379493.0000)
INSERT [dbo].[Facturas_Ventas] ([id_remito_Venta], [fecha_alta], [hora_alta], [letra], [sucursal], [numero], [monto_total_facturado]) VALUES (3, CAST(N'2026-01-16' AS Date), CAST(N'09:00:00' AS Time), N'A', 1, 2003, 12196.8000)
GO
INSERT [dbo].[Facturas_Ventas_Vencimientos] ([id_remito_Venta], [numero_cuota], [fecha_vencimiento], [monto_cuota]) VALUES (1, 1, CAST(N'2026-02-08' AS Date), 12196.8000)
INSERT [dbo].[Facturas_Ventas_Vencimientos] ([id_remito_Venta], [numero_cuota], [fecha_vencimiento], [monto_cuota]) VALUES (2, 1, CAST(N'2026-02-09' AS Date), 126497.6666)
INSERT [dbo].[Facturas_Ventas_Vencimientos] ([id_remito_Venta], [numero_cuota], [fecha_vencimiento], [monto_cuota]) VALUES (2, 2, CAST(N'2026-03-11' AS Date), 126497.6666)
GO
INSERT [dbo].[Hijo_Empleado] ([DNI_Empleado], [DNI_Hijo]) VALUES (20000001, 40000001)
INSERT [dbo].[Hijo_Empleado] ([DNI_Empleado], [DNI_Hijo]) VALUES (20000002, 40000002)
INSERT [dbo].[Hijo_Empleado] ([DNI_Empleado], [DNI_Hijo]) VALUES (20000003, 40000003)
GO
INSERT [dbo].[Items_Compra] ([Numero_OC], [ArticuloID], [cantidad], [precio], [fecha_entrega]) VALUES (1, 3, 15, 1489.0000, CAST(N'2026-01-23' AS Date))
INSERT [dbo].[Items_Compra] ([Numero_OC], [ArticuloID], [cantidad], [precio], [fecha_entrega]) VALUES (1, 10, 45, 1111.0000, CAST(N'2026-01-23' AS Date))
INSERT [dbo].[Items_Compra] ([Numero_OC], [ArticuloID], [cantidad], [precio], [fecha_entrega]) VALUES (1, 12, 52, 1001.0000, CAST(N'2026-01-23' AS Date))
GO
INSERT [dbo].[Items_Pedido] ([Id_pedido], [ArticuloID], [cantidad_pedida]) VALUES (43, 4, 3)
INSERT [dbo].[Items_Pedido] ([Id_pedido], [ArticuloID], [cantidad_pedida]) VALUES (43, 29, 2)
INSERT [dbo].[Items_Pedido] ([Id_pedido], [ArticuloID], [cantidad_pedida]) VALUES (43, 44, 1)
GO
INSERT [dbo].[Items_Remitidos_Facturados] ([id_remito], [Numero_OC], [ArticuloID], [precio_unitario_final], [monto_unitario_impuestos]) VALUES (1, 1, 3, 1533.6700, 322.0707)
INSERT [dbo].[Items_Remitidos_Facturados] ([id_remito], [Numero_OC], [ArticuloID], [precio_unitario_final], [monto_unitario_impuestos]) VALUES (1, 1, 10, 1111.0000, 233.3100)
INSERT [dbo].[Items_Remitidos_Facturados] ([id_remito], [Numero_OC], [ArticuloID], [precio_unitario_final], [monto_unitario_impuestos]) VALUES (1, 1, 12, 1001.0000, 210.2100)
GO
INSERT [dbo].[Items_Remitidos_Ventas] ([Id_pedido], [ArticuloID], [id_remito_Venta]) VALUES (43, 4, 1)
INSERT [dbo].[Items_Remitidos_Ventas] ([Id_pedido], [ArticuloID], [id_remito_Venta]) VALUES (43, 29, 1)
INSERT [dbo].[Items_Remitidos_Ventas] ([Id_pedido], [ArticuloID], [id_remito_Venta]) VALUES (43, 44, 1)
GO
INSERT [dbo].[Items_Remito] ([id_remito], [Numero_OC], [ArticuloID], [cantidades_recibidas]) VALUES (1, 1, 3, 15)
INSERT [dbo].[Items_Remito] ([id_remito], [Numero_OC], [ArticuloID], [cantidades_recibidas]) VALUES (1, 1, 10, 45)
INSERT [dbo].[Items_Remito] ([id_remito], [Numero_OC], [ArticuloID], [cantidades_recibidas]) VALUES (1, 1, 12, 52)
GO
SET IDENTITY_INSERT [dbo].[Licencias_empleados] ON 

INSERT [dbo].[Licencias_empleados] ([ID_licencia], [DNI_empleado], [id_tipo_licencia], [fecha_inicio], [fecha_fin]) VALUES (2, 20000002, 1, CAST(N'2026-04-29' AS Date), CAST(N'2026-04-30' AS Date))
INSERT [dbo].[Licencias_empleados] ([ID_licencia], [DNI_empleado], [id_tipo_licencia], [fecha_inicio], [fecha_fin]) VALUES (3, 20000014, 2, CAST(N'2026-04-15' AS Date), CAST(N'2026-04-15' AS Date))
INSERT [dbo].[Licencias_empleados] ([ID_licencia], [DNI_empleado], [id_tipo_licencia], [fecha_inicio], [fecha_fin]) VALUES (4, 20000015, 2, CAST(N'2026-01-10' AS Date), CAST(N'2026-01-11' AS Date))
SET IDENTITY_INSERT [dbo].[Licencias_empleados] OFF
GO
INSERT [dbo].[ListasDePrecios] ([Cod_Listas_Precios], [nombre], [vigencia_desde], [vigencia_hasta]) VALUES (1, N'Lista General Minorista       ', CAST(N'2026-05-06' AS Date), CAST(N'2026-12-31' AS Date))
INSERT [dbo].[ListasDePrecios] ([Cod_Listas_Precios], [nombre], [vigencia_desde], [vigencia_hasta]) VALUES (2, N'Lista Distribuidores VIP      ', CAST(N'2026-05-06' AS Date), CAST(N'2026-12-31' AS Date))
GO
INSERT [dbo].[Monedas] ([id_moneda], [descripcion]) VALUES (1, N'Pesos')
INSERT [dbo].[Monedas] ([id_moneda], [descripcion]) VALUES (2, N'Dólares')
INSERT [dbo].[Monedas] ([id_moneda], [descripcion]) VALUES (3, N'Euros')
GO
SET IDENTITY_INSERT [dbo].[Orden_de_Pago] ON 

INSERT [dbo].[Orden_de_Pago] ([id_Pago], [fecha_alta], [Id_interno_Prov], [observaciones], [fecha_pago], [Numero_Cuenta]) VALUES (1, CAST(N'2026-05-06' AS Date), 8, N'Cancelación Factura Enero - Galicia                                                                                                                                                                     ', CAST(N'2026-05-06' AS Date), N'CTA-GAL-001         ')
INSERT [dbo].[Orden_de_Pago] ([id_Pago], [fecha_alta], [Id_interno_Prov], [observaciones], [fecha_pago], [Numero_Cuenta]) VALUES (2, CAST(N'2026-05-06' AS Date), 12, N'Cancelación Factura Enero - Galicia                                                                                                                                                                     ', CAST(N'2026-05-06' AS Date), N'CTA-GAL-001         ')
INSERT [dbo].[Orden_de_Pago] ([id_Pago], [fecha_alta], [Id_interno_Prov], [observaciones], [fecha_pago], [Numero_Cuenta]) VALUES (3, CAST(N'2026-05-06' AS Date), 17, N'Cancelación Factura Enero - Galicia                                                                                                                                                                     ', CAST(N'2026-05-06' AS Date), N'CTA-GAL-001         ')
SET IDENTITY_INSERT [dbo].[Orden_de_Pago] OFF
GO
INSERT [dbo].[Orden_de_preparacion] ([Id_pedido], [ArticuloID], [Cod_deposito], [DNI_preparador_asignado], [observaciones_de_entrega], [fecha_alta], [hora_alta], [cantidad_preparada]) VALUES (43, 4, 1, 20000001, N'Preparación completa', CAST(N'2026-01-08' AS Date), CAST(N'08:00:00' AS Time), 3)
INSERT [dbo].[Orden_de_preparacion] ([Id_pedido], [ArticuloID], [Cod_deposito], [DNI_preparador_asignado], [observaciones_de_entrega], [fecha_alta], [hora_alta], [cantidad_preparada]) VALUES (43, 29, 1, 20000001, N'Preparación completa', CAST(N'2026-01-07' AS Date), CAST(N'08:00:00' AS Time), 2)
INSERT [dbo].[Orden_de_preparacion] ([Id_pedido], [ArticuloID], [Cod_deposito], [DNI_preparador_asignado], [observaciones_de_entrega], [fecha_alta], [hora_alta], [cantidad_preparada]) VALUES (43, 44, 1, 20000001, N'Preparación completa', CAST(N'2026-01-07' AS Date), CAST(N'08:00:00' AS Time), 1)
GO
SET IDENTITY_INSERT [dbo].[Pedidos_Distribuidores] ON 

INSERT [dbo].[Pedidos_Distribuidores] ([Id_pedido], [fecha_alta], [CUIT_Cliente], [codigo_direccion], [fecha_entrega], [Cod_Listas_Precios], [cod_condicion_pago]) VALUES (43, CAST(N'2026-01-02' AS Date), N'30100000011', 1, CAST(N'2026-05-18' AS Date), 2, 3)
INSERT [dbo].[Pedidos_Distribuidores] ([Id_pedido], [fecha_alta], [CUIT_Cliente], [codigo_direccion], [fecha_entrega], [Cod_Listas_Precios], [cod_condicion_pago]) VALUES (44, CAST(N'2026-01-03' AS Date), N'30100000027', 3, CAST(N'2026-05-18' AS Date), 1, 7)
INSERT [dbo].[Pedidos_Distribuidores] ([Id_pedido], [fecha_alta], [CUIT_Cliente], [codigo_direccion], [fecha_entrega], [Cod_Listas_Precios], [cod_condicion_pago]) VALUES (45, CAST(N'2026-01-04' AS Date), N'30100000011', 2, CAST(N'2026-05-18' AS Date), 1, 2)
SET IDENTITY_INSERT [dbo].[Pedidos_Distribuidores] OFF
GO
INSERT [dbo].[PedidosAprobados] ([Id_pedido], [fecha_aprobacion], [hora_aprobacion], [DNI_aprobador]) VALUES (43, CAST(N'2026-01-06' AS Date), CAST(N'10:30:00' AS Time), 20000003)
INSERT [dbo].[PedidosAprobados] ([Id_pedido], [fecha_aprobacion], [hora_aprobacion], [DNI_aprobador]) VALUES (44, CAST(N'2026-01-07' AS Date), CAST(N'10:30:00' AS Time), 20000003)
INSERT [dbo].[PedidosAprobados] ([Id_pedido], [fecha_aprobacion], [hora_aprobacion], [DNI_aprobador]) VALUES (45, CAST(N'2026-01-09' AS Date), CAST(N'10:30:00' AS Time), 20000003)
GO
INSERT [dbo].[Personas] ([DNI], [nombre], [apellido], [fecha_nacimiento], [domicilio]) VALUES (20000001, N'Mariela                                           ', N'Gomez                                             ', CAST(N'1990-01-01' AS Date), N'Calle Falsa 1                                     ')
INSERT [dbo].[Personas] ([DNI], [nombre], [apellido], [fecha_nacimiento], [domicilio]) VALUES (20000002, N'Pablo                                             ', N'Juarez                                            ', CAST(N'1990-01-01' AS Date), N'Calle Falsa 2                                     ')
INSERT [dbo].[Personas] ([DNI], [nombre], [apellido], [fecha_nacimiento], [domicilio]) VALUES (20000003, N'Monica                                            ', N'Estevez                                           ', CAST(N'1990-01-01' AS Date), N'Calle Falsa 3                                     ')
GO
SET IDENTITY_INSERT [dbo].[Proveedores] ON 

INSERT [dbo].[Proveedores] ([Id_interno_Prov], [tax_id], [nombre_empresa], [pais], [sitio_web], [id_moneda], [banco], [CBU]) VALUES (1, N'TAX-1', N'Proveedor Industrial 1', N'Argentina                                         ', N'www.prov1.com.ar                                  ', 1, N'Banco Nación                  ', N'0110000000011')
INSERT [dbo].[Proveedores] ([Id_interno_Prov], [tax_id], [nombre_empresa], [pais], [sitio_web], [id_moneda], [banco], [CBU]) VALUES (2, N'TAX-2', N'Proveedor Industrial 2', N'Argentina                                         ', N'www.prov2.com.ar                                  ', 1, N'Banco Nación                  ', N'0110000000012')
INSERT [dbo].[Proveedores] ([Id_interno_Prov], [tax_id], [nombre_empresa], [pais], [sitio_web], [id_moneda], [banco], [CBU]) VALUES (3, N'TAX-3', N'Proveedor Industrial 3', N'Argentina                                         ', N'www.prov3.com.ar                                  ', 1, N'Banco Nación                  ', N'0110000000013')
SET IDENTITY_INSERT [dbo].[Proveedores] OFF
GO
INSERT [dbo].[Proveedores_Mails] ([Id_interno_Prov], [mail], [tipo_contacto]) VALUES (1, N'ventas@prov1.com                                  ', N'Ventas                        ')
INSERT [dbo].[Proveedores_Mails] ([Id_interno_Prov], [mail], [tipo_contacto]) VALUES (2, N'ventas@prov2.com                                  ', N'Ventas                        ')
INSERT [dbo].[Proveedores_Mails] ([Id_interno_Prov], [mail], [tipo_contacto]) VALUES (3, N'ventas@prov3.com                                  ', N'Ventas                        ')
GO
SET IDENTITY_INSERT [dbo].[Recibos] ON 

INSERT [dbo].[Recibos] ([ID_Recibo], [fecha_alta], [hora_alta], [DNI_cobrador], [CUIT_cliente], [monto_total_cobrado]) VALUES (1, CAST(N'2026-02-08' AS Date), CAST(N'14:00:00' AS Time), 20000002, N'30100000011', 12196.8000)
INSERT [dbo].[Recibos] ([ID_Recibo], [fecha_alta], [hora_alta], [DNI_cobrador], [CUIT_cliente], [monto_total_cobrado]) VALUES (2, CAST(N'2026-04-10' AS Date), CAST(N'14:00:00' AS Time), 20000002, N'30100000027', 379493.0000)
INSERT [dbo].[Recibos] ([ID_Recibo], [fecha_alta], [hora_alta], [DNI_cobrador], [CUIT_cliente], [monto_total_cobrado]) VALUES (3, CAST(N'2026-02-12' AS Date), CAST(N'14:00:00' AS Time), 20000002, N'30100000011', 12196.8000)
SET IDENTITY_INSERT [dbo].[Recibos] OFF
GO
SET IDENTITY_INSERT [dbo].[Remitos_Compras] ON 

INSERT [dbo].[Remitos_Compras] ([id_remito], [fecha_alta], [hora_alta], [Numero_OC], [DNI_Empleado_Receptor], [Cod_deposito_Receptor]) VALUES (1, CAST(N'2026-01-08' AS Date), CAST(N'15:00:00' AS Time), 1, 20000001, 1)
INSERT [dbo].[Remitos_Compras] ([id_remito], [fecha_alta], [hora_alta], [Numero_OC], [DNI_Empleado_Receptor], [Cod_deposito_Receptor]) VALUES (2, CAST(N'2026-01-16' AS Date), CAST(N'15:00:00' AS Time), 2, 20000001, 1)
INSERT [dbo].[Remitos_Compras] ([id_remito], [fecha_alta], [hora_alta], [Numero_OC], [DNI_Empleado_Receptor], [Cod_deposito_Receptor]) VALUES (3, CAST(N'2026-01-24' AS Date), CAST(N'15:00:00' AS Time), 3, 20000001, 1)
SET IDENTITY_INSERT [dbo].[Remitos_Compras] OFF
GO
SET IDENTITY_INSERT [dbo].[Remitos_Ventas] ON 

INSERT [dbo].[Remitos_Ventas] ([id_remito_Venta], [sucursal], [numero], [fecha_alta], [hora_alta], [volumen_total_m3], [peso_total_kg], [CUIT_Cliente], [codigo_direccion]) VALUES (1, 1, 1043, CAST(N'2026-01-09' AS Date), CAST(N'11:00:00' AS Time), CAST(0.00 AS Decimal(10, 2)), CAST(0.00 AS Decimal(10, 2)), N'30100000011', 1)
INSERT [dbo].[Remitos_Ventas] ([id_remito_Venta], [sucursal], [numero], [fecha_alta], [hora_alta], [volumen_total_m3], [peso_total_kg], [CUIT_Cliente], [codigo_direccion]) VALUES (2, 1, 1044, CAST(N'2026-01-10' AS Date), CAST(N'11:00:00' AS Time), CAST(0.00 AS Decimal(10, 2)), CAST(0.00 AS Decimal(10, 2)), N'30100000027', 3)
INSERT [dbo].[Remitos_Ventas] ([id_remito_Venta], [sucursal], [numero], [fecha_alta], [hora_alta], [volumen_total_m3], [peso_total_kg], [CUIT_Cliente], [codigo_direccion]) VALUES (3, 1, 1045, CAST(N'2026-01-13' AS Date), CAST(N'11:00:00' AS Time), CAST(0.00 AS Decimal(10, 2)), CAST(0.00 AS Decimal(10, 2)), N'30100000011', 2)
SET IDENTITY_INSERT [dbo].[Remitos_Ventas] OFF
GO
INSERT [dbo].[Tipos_de_Cheques] ([id_tipo_cheque], [descripcion]) VALUES (1, N'Común')
INSERT [dbo].[Tipos_de_Cheques] ([id_tipo_cheque], [descripcion]) VALUES (2, N'Diferido')
INSERT [dbo].[Tipos_de_Cheques] ([id_tipo_cheque], [descripcion]) VALUES (3, N'Echeck Común')
GO
INSERT [dbo].[tipos_de_impuestos] ([cod_tipo_impuesto], [descripcion]) VALUES (1, N'IVA')
INSERT [dbo].[tipos_de_impuestos] ([cod_tipo_impuesto], [descripcion]) VALUES (2, N'Ingresos Brutos')
INSERT [dbo].[tipos_de_impuestos] ([cod_tipo_impuesto], [descripcion]) VALUES (3, N'Ganancias')
GO
INSERT [dbo].[Tipos_Licencias] ([id_tipo_licencia], [nombre_licencia]) VALUES (1, N'Estudio')
INSERT [dbo].[Tipos_Licencias] ([id_tipo_licencia], [nombre_licencia]) VALUES (2, N'Mudanza')
INSERT [dbo].[Tipos_Licencias] ([id_tipo_licencia], [nombre_licencia]) VALUES (3, N'Enfermedad')
GO
INSERT [dbo].[Ubicaciones] ([Cod_deposito], [id_ubicacion], [capacidad_ubicacion_m3]) VALUES (1, 1, 50)
INSERT [dbo].[Ubicaciones] ([Cod_deposito], [id_ubicacion], [capacidad_ubicacion_m3]) VALUES (1, 2, 50)
INSERT [dbo].[Ubicaciones] ([Cod_deposito], [id_ubicacion], [capacidad_ubicacion_m3]) VALUES (1, 3, 50)
GO
SET ANSI_PADDING ON
GO
/****** Objeto: Index [UQ__Articulo__34B68F6B6B483C39] Fecha de script: 13/06/2026 14:03:54 ******/
ALTER TABLE [dbo].[Articulos] ADD UNIQUE NONCLUSTERED 
(
	[CodigoEAN13] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Objeto: Index [UQ_Distribuidores_Email] Fecha de script: 13/06/2026 14:03:54 ******/
ALTER TABLE [dbo].[Distribuidores] ADD  CONSTRAINT [UQ_Distribuidores_Email] UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Objeto: Index [UQ_Remito_OC] Fecha de script: 13/06/2026 14:03:54 ******/
ALTER TABLE [dbo].[Remitos_Compras] ADD  CONSTRAINT [UQ_Remito_OC] UNIQUE NONCLUSTERED 
(
	[id_remito] ASC,
	[Numero_OC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Articulos] ADD  DEFAULT (getdate()) FOR [FechaIngreso]
GO
ALTER TABLE [dbo].[Compras] ADD  DEFAULT ((0)) FOR [porcentaje_descuento]
GO
ALTER TABLE [dbo].[Condiciones_Pago] ADD  DEFAULT ((1)) FOR [cantidad_cuotas]
GO
ALTER TABLE [dbo].[Cuenta_bancaria] ADD  DEFAULT (getdate()) FOR [fecha_alta]
GO
ALTER TABLE [dbo].[Distribuidores] ADD  DEFAULT ((0)) FOR [LimiteCredito]
GO
ALTER TABLE [dbo].[Distribuidores] ADD  DEFAULT (getdate()) FOR [FechaAlta]
GO
ALTER TABLE [dbo].[Facturas_Proveedores] ADD  DEFAULT (getdate()) FOR [fecha_alta]
GO
ALTER TABLE [dbo].[Facturas_Ventas] ADD  DEFAULT (getdate()) FOR [fecha_alta]
GO
ALTER TABLE [dbo].[Facturas_Ventas] ADD  DEFAULT (CONVERT([time],getdate())) FOR [hora_alta]
GO
ALTER TABLE [dbo].[Orden_de_Pago] ADD  DEFAULT (getdate()) FOR [fecha_alta]
GO
ALTER TABLE [dbo].[Orden_de_preparacion] ADD  DEFAULT (getdate()) FOR [fecha_alta]
GO
ALTER TABLE [dbo].[Orden_de_preparacion] ADD  DEFAULT (CONVERT([time],getdate())) FOR [hora_alta]
GO
ALTER TABLE [dbo].[Pedidos_Distribuidores] ADD  DEFAULT (getdate()) FOR [fecha_alta]
GO
ALTER TABLE [dbo].[PedidosAprobados] ADD  DEFAULT (getdate()) FOR [fecha_aprobacion]
GO
ALTER TABLE [dbo].[PedidosAprobados] ADD  DEFAULT (CONVERT([time],getdate())) FOR [hora_aprobacion]
GO
ALTER TABLE [dbo].[Recibos] ADD  DEFAULT (getdate()) FOR [fecha_alta]
GO
ALTER TABLE [dbo].[Recibos] ADD  DEFAULT (CONVERT([time],getdate())) FOR [hora_alta]
GO
ALTER TABLE [dbo].[Remitos_Compras] ADD  DEFAULT (getdate()) FOR [fecha_alta]
GO
ALTER TABLE [dbo].[Remitos_Compras] ADD  DEFAULT (CONVERT([time],getdate())) FOR [hora_alta]
GO
ALTER TABLE [dbo].[Remitos_Ventas] ADD  DEFAULT (getdate()) FOR [fecha_alta]
GO
ALTER TABLE [dbo].[Remitos_Ventas] ADD  DEFAULT (CONVERT([time],getdate())) FOR [hora_alta]
GO
ALTER TABLE [dbo].[Articulos_Fotos]  WITH CHECK ADD  CONSTRAINT [FK_Articulos_Fotos_Articulos] FOREIGN KEY([ArticuloID])
REFERENCES [dbo].[Articulos] ([ArticuloID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Articulos_Fotos] CHECK CONSTRAINT [FK_Articulos_Fotos_Articulos]
GO
ALTER TABLE [dbo].[Articulos_Precios]  WITH CHECK ADD  CONSTRAINT [FK_ArticulosPrecios_Articulos] FOREIGN KEY([ArticuloID])
REFERENCES [dbo].[Articulos] ([ArticuloID])
GO
ALTER TABLE [dbo].[Articulos_Precios] CHECK CONSTRAINT [FK_ArticulosPrecios_Articulos]
GO
ALTER TABLE [dbo].[Articulos_Precios]  WITH CHECK ADD  CONSTRAINT [FK_ArticulosPrecios_Listas] FOREIGN KEY([Cod_Listas_Precios])
REFERENCES [dbo].[ListasDePrecios] ([Cod_Listas_Precios])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Articulos_Precios] CHECK CONSTRAINT [FK_ArticulosPrecios_Listas]
GO
ALTER TABLE [dbo].[Cobros_Cheques]  WITH CHECK ADD  CONSTRAINT [FK_CobrosCheques_Recibos] FOREIGN KEY([ID_Recibo])
REFERENCES [dbo].[Recibos] ([ID_Recibo])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Cobros_Cheques] CHECK CONSTRAINT [FK_CobrosCheques_Recibos]
GO
ALTER TABLE [dbo].[Cobros_Cheques]  WITH CHECK ADD  CONSTRAINT [FK_CobrosCheques_Tipos] FOREIGN KEY([id_tipo_cheque])
REFERENCES [dbo].[Tipos_de_Cheques] ([id_tipo_cheque])
GO
ALTER TABLE [dbo].[Cobros_Cheques] CHECK CONSTRAINT [FK_CobrosCheques_Tipos]
GO
ALTER TABLE [dbo].[Cobros_Efectivo]  WITH CHECK ADD  CONSTRAINT [FK_CobrosEfectivo_Monedas] FOREIGN KEY([id_moneda_origen])
REFERENCES [dbo].[Monedas] ([id_moneda])
GO
ALTER TABLE [dbo].[Cobros_Efectivo] CHECK CONSTRAINT [FK_CobrosEfectivo_Monedas]
GO
ALTER TABLE [dbo].[Cobros_Efectivo]  WITH CHECK ADD  CONSTRAINT [FK_CobrosEfectivo_Recibos] FOREIGN KEY([ID_Recibo])
REFERENCES [dbo].[Recibos] ([ID_Recibo])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Cobros_Efectivo] CHECK CONSTRAINT [FK_CobrosEfectivo_Recibos]
GO
ALTER TABLE [dbo].[Cobros_retenciones]  WITH CHECK ADD  CONSTRAINT [FK_Retenciones_Impuestos] FOREIGN KEY([cod_tipo_impuesto])
REFERENCES [dbo].[tipos_de_impuestos] ([cod_tipo_impuesto])
GO
ALTER TABLE [dbo].[Cobros_retenciones] CHECK CONSTRAINT [FK_Retenciones_Impuestos]
GO
ALTER TABLE [dbo].[Cobros_retenciones]  WITH CHECK ADD  CONSTRAINT [FK_Retenciones_Recibos] FOREIGN KEY([ID_Recibo])
REFERENCES [dbo].[Recibos] ([ID_Recibo])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Cobros_retenciones] CHECK CONSTRAINT [FK_Retenciones_Recibos]
GO
ALTER TABLE [dbo].[Cobros_Transferencias]  WITH CHECK ADD  CONSTRAINT [FK_CobrosTransf_Cuentas] FOREIGN KEY([Numero_Cuenta])
REFERENCES [dbo].[Cuenta_bancaria] ([Numero_Cuenta])
GO
ALTER TABLE [dbo].[Cobros_Transferencias] CHECK CONSTRAINT [FK_CobrosTransf_Cuentas]
GO
ALTER TABLE [dbo].[Cobros_Transferencias]  WITH CHECK ADD  CONSTRAINT [FK_CobrosTransf_Recibos] FOREIGN KEY([ID_Recibo])
REFERENCES [dbo].[Recibos] ([ID_Recibo])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Cobros_Transferencias] CHECK CONSTRAINT [FK_CobrosTransf_Recibos]
GO
ALTER TABLE [dbo].[Compras]  WITH CHECK ADD  CONSTRAINT [FK_Compras_Monedas] FOREIGN KEY([moneda_OC])
REFERENCES [dbo].[Monedas] ([id_moneda])
GO
ALTER TABLE [dbo].[Compras] CHECK CONSTRAINT [FK_Compras_Monedas]
GO
ALTER TABLE [dbo].[Compras]  WITH CHECK ADD  CONSTRAINT [FK_Compras_Proveedores] FOREIGN KEY([Id_interno_Prov])
REFERENCES [dbo].[Proveedores] ([Id_interno_Prov])
GO
ALTER TABLE [dbo].[Compras] CHECK CONSTRAINT [FK_Compras_Proveedores]
GO
ALTER TABLE [dbo].[Compras_Aprobadas]  WITH CHECK ADD  CONSTRAINT [FK_ComprasAprobadas_Compras] FOREIGN KEY([Numero_OC])
REFERENCES [dbo].[Compras] ([Numero_OC])
GO
ALTER TABLE [dbo].[Compras_Aprobadas] CHECK CONSTRAINT [FK_ComprasAprobadas_Compras]
GO
ALTER TABLE [dbo].[Cuenta_bancaria]  WITH CHECK ADD  CONSTRAINT [FK_CuentaBancaria_Monedas] FOREIGN KEY([id_moneda])
REFERENCES [dbo].[Monedas] ([id_moneda])
GO
ALTER TABLE [dbo].[Cuenta_bancaria] CHECK CONSTRAINT [FK_CuentaBancaria_Monedas]
GO
ALTER TABLE [dbo].[Cuotas_Cobradas]  WITH CHECK ADD  CONSTRAINT [FK_CuotasCobradas_Recibos] FOREIGN KEY([ID_Recibo])
REFERENCES [dbo].[Recibos] ([ID_Recibo])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Cuotas_Cobradas] CHECK CONSTRAINT [FK_CuotasCobradas_Recibos]
GO
ALTER TABLE [dbo].[Cuotas_Cobradas]  WITH CHECK ADD  CONSTRAINT [FK_CuotasCobradas_Vencimientos] FOREIGN KEY([id_remito_Venta], [numero_cuota])
REFERENCES [dbo].[Facturas_Ventas_Vencimientos] ([id_remito_Venta], [numero_cuota])
GO
ALTER TABLE [dbo].[Cuotas_Cobradas] CHECK CONSTRAINT [FK_CuotasCobradas_Vencimientos]
GO
ALTER TABLE [dbo].[DireccionesDistribuidores]  WITH CHECK ADD  CONSTRAINT [FK_Direcciones_Distribuidores] FOREIGN KEY([CUIT])
REFERENCES [dbo].[Distribuidores] ([CUIT])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DireccionesDistribuidores] CHECK CONSTRAINT [FK_Direcciones_Distribuidores]
GO
ALTER TABLE [dbo].[Empleados]  WITH CHECK ADD  CONSTRAINT [FK_Empleados_Areas] FOREIGN KEY([id_area])
REFERENCES [dbo].[Areas] ([id_area])
GO
ALTER TABLE [dbo].[Empleados] CHECK CONSTRAINT [FK_Empleados_Areas]
GO
ALTER TABLE [dbo].[Empleados]  WITH CHECK ADD  CONSTRAINT [FK_Empleados_Personas] FOREIGN KEY([DNI])
REFERENCES [dbo].[Personas] ([DNI])
GO
ALTER TABLE [dbo].[Empleados] CHECK CONSTRAINT [FK_Empleados_Personas]
GO
ALTER TABLE [dbo].[Facturas_a_pagar]  WITH CHECK ADD  CONSTRAINT [FK_FacturasAPagar_Facturas] FOREIGN KEY([id_remito])
REFERENCES [dbo].[Facturas_Proveedores] ([id_remito])
GO
ALTER TABLE [dbo].[Facturas_a_pagar] CHECK CONSTRAINT [FK_FacturasAPagar_Facturas]
GO
ALTER TABLE [dbo].[Facturas_a_pagar]  WITH CHECK ADD  CONSTRAINT [FK_FacturasAPagar_OrdenPago] FOREIGN KEY([id_Pago])
REFERENCES [dbo].[Orden_de_Pago] ([id_Pago])
GO
ALTER TABLE [dbo].[Facturas_a_pagar] CHECK CONSTRAINT [FK_FacturasAPagar_OrdenPago]
GO
ALTER TABLE [dbo].[Facturas_Proveedores]  WITH CHECK ADD  CONSTRAINT [FK_Facturas_Remitos] FOREIGN KEY([id_remito])
REFERENCES [dbo].[Remitos_Compras] ([id_remito])
GO
ALTER TABLE [dbo].[Facturas_Proveedores] CHECK CONSTRAINT [FK_Facturas_Remitos]
GO
ALTER TABLE [dbo].[Facturas_Ventas]  WITH CHECK ADD  CONSTRAINT [FK_FacturasVentas_Remitos] FOREIGN KEY([id_remito_Venta])
REFERENCES [dbo].[Remitos_Ventas] ([id_remito_Venta])
GO
ALTER TABLE [dbo].[Facturas_Ventas] CHECK CONSTRAINT [FK_FacturasVentas_Remitos]
GO
ALTER TABLE [dbo].[Facturas_Ventas_Vencimientos]  WITH CHECK ADD  CONSTRAINT [FK_Vencimientos_FacturasVentas] FOREIGN KEY([id_remito_Venta])
REFERENCES [dbo].[Facturas_Ventas] ([id_remito_Venta])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Facturas_Ventas_Vencimientos] CHECK CONSTRAINT [FK_Vencimientos_FacturasVentas]
GO
ALTER TABLE [dbo].[Hijo_Empleado]  WITH CHECK ADD  CONSTRAINT [FK_Hijo_Empleado_Empleados] FOREIGN KEY([DNI_Empleado])
REFERENCES [dbo].[Empleados] ([DNI])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Hijo_Empleado] CHECK CONSTRAINT [FK_Hijo_Empleado_Empleados]
GO
ALTER TABLE [dbo].[Items_Compra]  WITH CHECK ADD  CONSTRAINT [FK_Items_Articulos] FOREIGN KEY([ArticuloID])
REFERENCES [dbo].[Articulos] ([ArticuloID])
GO
ALTER TABLE [dbo].[Items_Compra] CHECK CONSTRAINT [FK_Items_Articulos]
GO
ALTER TABLE [dbo].[Items_Compra]  WITH CHECK ADD  CONSTRAINT [FK_Items_Compras] FOREIGN KEY([Numero_OC])
REFERENCES [dbo].[Compras] ([Numero_OC])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Items_Compra] CHECK CONSTRAINT [FK_Items_Compras]
GO
ALTER TABLE [dbo].[Items_Pedido]  WITH CHECK ADD  CONSTRAINT [FK_ItemsPedido_Articulos] FOREIGN KEY([ArticuloID])
REFERENCES [dbo].[Articulos] ([ArticuloID])
GO
ALTER TABLE [dbo].[Items_Pedido] CHECK CONSTRAINT [FK_ItemsPedido_Articulos]
GO
ALTER TABLE [dbo].[Items_Pedido]  WITH CHECK ADD  CONSTRAINT [FK_ItemsPedido_Pedidos] FOREIGN KEY([Id_pedido])
REFERENCES [dbo].[Pedidos_Distribuidores] ([Id_pedido])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Items_Pedido] CHECK CONSTRAINT [FK_ItemsPedido_Pedidos]
GO
ALTER TABLE [dbo].[Items_Remitidos_Facturados]  WITH CHECK ADD  CONSTRAINT [FK_ItemsFacturados_ItemsRemito] FOREIGN KEY([id_remito], [Numero_OC], [ArticuloID])
REFERENCES [dbo].[Items_Remito] ([id_remito], [Numero_OC], [ArticuloID])
GO
ALTER TABLE [dbo].[Items_Remitidos_Facturados] CHECK CONSTRAINT [FK_ItemsFacturados_ItemsRemito]
GO
ALTER TABLE [dbo].[Items_Remitidos_Ventas]  WITH CHECK ADD  CONSTRAINT [FK_ItemsRemitidos_OrdenPrep] FOREIGN KEY([Id_pedido], [ArticuloID])
REFERENCES [dbo].[Orden_de_preparacion] ([Id_pedido], [ArticuloID])
GO
ALTER TABLE [dbo].[Items_Remitidos_Ventas] CHECK CONSTRAINT [FK_ItemsRemitidos_OrdenPrep]
GO
ALTER TABLE [dbo].[Items_Remitidos_Ventas]  WITH CHECK ADD  CONSTRAINT [FK_ItemsRemitidos_RemitoVenta] FOREIGN KEY([id_remito_Venta])
REFERENCES [dbo].[Remitos_Ventas] ([id_remito_Venta])
GO
ALTER TABLE [dbo].[Items_Remitidos_Ventas] CHECK CONSTRAINT [FK_ItemsRemitidos_RemitoVenta]
GO
ALTER TABLE [dbo].[Items_Remito]  WITH CHECK ADD  CONSTRAINT [FK_ItemsRemito_ItemsCompra] FOREIGN KEY([Numero_OC], [ArticuloID])
REFERENCES [dbo].[Items_Compra] ([Numero_OC], [ArticuloID])
GO
ALTER TABLE [dbo].[Items_Remito] CHECK CONSTRAINT [FK_ItemsRemito_ItemsCompra]
GO
ALTER TABLE [dbo].[Items_Remito]  WITH CHECK ADD  CONSTRAINT [FK_ItemsRemito_Remito] FOREIGN KEY([id_remito], [Numero_OC])
REFERENCES [dbo].[Remitos_Compras] ([id_remito], [Numero_OC])
GO
ALTER TABLE [dbo].[Items_Remito] CHECK CONSTRAINT [FK_ItemsRemito_Remito]
GO
ALTER TABLE [dbo].[Licencias_empleados]  WITH CHECK ADD  CONSTRAINT [FK_Licencias_Empleados] FOREIGN KEY([DNI_empleado])
REFERENCES [dbo].[Empleados] ([DNI])
GO
ALTER TABLE [dbo].[Licencias_empleados] CHECK CONSTRAINT [FK_Licencias_Empleados]
GO
ALTER TABLE [dbo].[Licencias_empleados]  WITH CHECK ADD  CONSTRAINT [FK_Licencias_Tipos] FOREIGN KEY([id_tipo_licencia])
REFERENCES [dbo].[Tipos_Licencias] ([id_tipo_licencia])
GO
ALTER TABLE [dbo].[Licencias_empleados] CHECK CONSTRAINT [FK_Licencias_Tipos]
GO
ALTER TABLE [dbo].[Orden_de_Pago]  WITH CHECK ADD  CONSTRAINT [FK_OrdenPago_CuentaBancaria] FOREIGN KEY([Numero_Cuenta])
REFERENCES [dbo].[Cuenta_bancaria] ([Numero_Cuenta])
GO
ALTER TABLE [dbo].[Orden_de_Pago] CHECK CONSTRAINT [FK_OrdenPago_CuentaBancaria]
GO
ALTER TABLE [dbo].[Orden_de_Pago]  WITH CHECK ADD  CONSTRAINT [FK_OrdenPago_Proveedores] FOREIGN KEY([Id_interno_Prov])
REFERENCES [dbo].[Proveedores] ([Id_interno_Prov])
GO
ALTER TABLE [dbo].[Orden_de_Pago] CHECK CONSTRAINT [FK_OrdenPago_Proveedores]
GO
ALTER TABLE [dbo].[Orden_de_preparacion]  WITH CHECK ADD  CONSTRAINT [FK_Prep_Depositos] FOREIGN KEY([Cod_deposito])
REFERENCES [dbo].[Depositos] ([Cod_deposito])
GO
ALTER TABLE [dbo].[Orden_de_preparacion] CHECK CONSTRAINT [FK_Prep_Depositos]
GO
ALTER TABLE [dbo].[Orden_de_preparacion]  WITH CHECK ADD  CONSTRAINT [FK_Prep_Empleados] FOREIGN KEY([DNI_preparador_asignado])
REFERENCES [dbo].[Empleados] ([DNI])
GO
ALTER TABLE [dbo].[Orden_de_preparacion] CHECK CONSTRAINT [FK_Prep_Empleados]
GO
ALTER TABLE [dbo].[Orden_de_preparacion]  WITH CHECK ADD  CONSTRAINT [FK_Prep_ItemsPedido] FOREIGN KEY([Id_pedido], [ArticuloID])
REFERENCES [dbo].[Items_Pedido] ([Id_pedido], [ArticuloID])
GO
ALTER TABLE [dbo].[Orden_de_preparacion] CHECK CONSTRAINT [FK_Prep_ItemsPedido]
GO
ALTER TABLE [dbo].[Pedidos_Distribuidores]  WITH CHECK ADD  CONSTRAINT [FK_Pedidos_CondicionesPago] FOREIGN KEY([cod_condicion_pago])
REFERENCES [dbo].[Condiciones_Pago] ([cod_condicion_pago])
GO
ALTER TABLE [dbo].[Pedidos_Distribuidores] CHECK CONSTRAINT [FK_Pedidos_CondicionesPago]
GO
ALTER TABLE [dbo].[Pedidos_Distribuidores]  WITH CHECK ADD  CONSTRAINT [FK_Pedidos_DireccionDistribuidores] FOREIGN KEY([CUIT_Cliente], [codigo_direccion])
REFERENCES [dbo].[DireccionesDistribuidores] ([CUIT], [codigo_direccion])
GO
ALTER TABLE [dbo].[Pedidos_Distribuidores] CHECK CONSTRAINT [FK_Pedidos_DireccionDistribuidores]
GO
ALTER TABLE [dbo].[Pedidos_Distribuidores]  WITH CHECK ADD  CONSTRAINT [FK_Pedidos_ListasPrecios] FOREIGN KEY([Cod_Listas_Precios])
REFERENCES [dbo].[ListasDePrecios] ([Cod_Listas_Precios])
GO
ALTER TABLE [dbo].[Pedidos_Distribuidores] CHECK CONSTRAINT [FK_Pedidos_ListasPrecios]
GO
ALTER TABLE [dbo].[PedidosAprobados]  WITH CHECK ADD  CONSTRAINT [FK_PedidosAprobados_Empleados] FOREIGN KEY([DNI_aprobador])
REFERENCES [dbo].[Empleados] ([DNI])
GO
ALTER TABLE [dbo].[PedidosAprobados] CHECK CONSTRAINT [FK_PedidosAprobados_Empleados]
GO
ALTER TABLE [dbo].[PedidosAprobados]  WITH CHECK ADD  CONSTRAINT [FK_PedidosAprobados_Pedidos] FOREIGN KEY([Id_pedido])
REFERENCES [dbo].[Pedidos_Distribuidores] ([Id_pedido])
GO
ALTER TABLE [dbo].[PedidosAprobados] CHECK CONSTRAINT [FK_PedidosAprobados_Pedidos]
GO
ALTER TABLE [dbo].[Proveedores]  WITH CHECK ADD  CONSTRAINT [FK_Proveedores_Monedas] FOREIGN KEY([id_moneda])
REFERENCES [dbo].[Monedas] ([id_moneda])
GO
ALTER TABLE [dbo].[Proveedores] CHECK CONSTRAINT [FK_Proveedores_Monedas]
GO
ALTER TABLE [dbo].[Proveedores_certificaciones]  WITH CHECK ADD  CONSTRAINT [FK_Certificaciones_Proveedores] FOREIGN KEY([Id_interno_Prov])
REFERENCES [dbo].[Proveedores] ([Id_interno_Prov])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Proveedores_certificaciones] CHECK CONSTRAINT [FK_Certificaciones_Proveedores]
GO
ALTER TABLE [dbo].[Proveedores_Mails]  WITH CHECK ADD  CONSTRAINT [FK_ProveedoresMails_Proveedores] FOREIGN KEY([Id_interno_Prov])
REFERENCES [dbo].[Proveedores] ([Id_interno_Prov])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Proveedores_Mails] CHECK CONSTRAINT [FK_ProveedoresMails_Proveedores]
GO
ALTER TABLE [dbo].[Recibos]  WITH CHECK ADD  CONSTRAINT [FK_Recibos_Distribuidores] FOREIGN KEY([CUIT_cliente])
REFERENCES [dbo].[Distribuidores] ([CUIT])
GO
ALTER TABLE [dbo].[Recibos] CHECK CONSTRAINT [FK_Recibos_Distribuidores]
GO
ALTER TABLE [dbo].[Recibos]  WITH CHECK ADD  CONSTRAINT [FK_Recibos_Empleados] FOREIGN KEY([DNI_cobrador])
REFERENCES [dbo].[Empleados] ([DNI])
GO
ALTER TABLE [dbo].[Recibos] CHECK CONSTRAINT [FK_Recibos_Empleados]
GO
ALTER TABLE [dbo].[Remitos_Compras]  WITH CHECK ADD  CONSTRAINT [FK_Remitos_ComprasAprobadas] FOREIGN KEY([Numero_OC])
REFERENCES [dbo].[Compras_Aprobadas] ([Numero_OC])
GO
ALTER TABLE [dbo].[Remitos_Compras] CHECK CONSTRAINT [FK_Remitos_ComprasAprobadas]
GO
ALTER TABLE [dbo].[Remitos_Compras]  WITH CHECK ADD  CONSTRAINT [FK_Remitos_Depositos] FOREIGN KEY([Cod_deposito_Receptor])
REFERENCES [dbo].[Depositos] ([Cod_deposito])
GO
ALTER TABLE [dbo].[Remitos_Compras] CHECK CONSTRAINT [FK_Remitos_Depositos]
GO
ALTER TABLE [dbo].[Remitos_Compras]  WITH CHECK ADD  CONSTRAINT [FK_Remitos_Empleados] FOREIGN KEY([DNI_Empleado_Receptor])
REFERENCES [dbo].[Empleados] ([DNI])
GO
ALTER TABLE [dbo].[Remitos_Compras] CHECK CONSTRAINT [FK_Remitos_Empleados]
GO
ALTER TABLE [dbo].[Remitos_Ventas]  WITH CHECK ADD  CONSTRAINT [FK_RemitosVentas_Direcciones] FOREIGN KEY([CUIT_Cliente], [codigo_direccion])
REFERENCES [dbo].[DireccionesDistribuidores] ([CUIT], [codigo_direccion])
GO
ALTER TABLE [dbo].[Remitos_Ventas] CHECK CONSTRAINT [FK_RemitosVentas_Direcciones]
GO
ALTER TABLE [dbo].[Ubicaciones]  WITH CHECK ADD  CONSTRAINT [FK_Ubicaciones_Depositos] FOREIGN KEY([Cod_deposito])
REFERENCES [dbo].[Depositos] ([Cod_deposito])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Ubicaciones] CHECK CONSTRAINT [FK_Ubicaciones_Depositos]
GO
ALTER TABLE [dbo].[Cobros_Cheques]  WITH CHECK ADD  CONSTRAINT [CHK_Monto_Cheque_Positivo] CHECK  (([monto_cheque]>(0)))
GO
ALTER TABLE [dbo].[Cobros_Cheques] CHECK CONSTRAINT [CHK_Monto_Cheque_Positivo]
GO
ALTER TABLE [dbo].[Cobros_Efectivo]  WITH CHECK ADD  CONSTRAINT [CHK_Cotizacion_Positiva] CHECK  (([cotizacion]>(0)))
GO
ALTER TABLE [dbo].[Cobros_Efectivo] CHECK CONSTRAINT [CHK_Cotizacion_Positiva]
GO
ALTER TABLE [dbo].[Cobros_Efectivo]  WITH CHECK ADD  CONSTRAINT [CHK_Monto_Efectivo_Positivo] CHECK  (([monto_moneda_origen]>(0)))
GO
ALTER TABLE [dbo].[Cobros_Efectivo] CHECK CONSTRAINT [CHK_Monto_Efectivo_Positivo]
GO
ALTER TABLE [dbo].[Cobros_Transferencias]  WITH CHECK ADD  CONSTRAINT [CHK_Monto_Transf_Positivo] CHECK  (([monto_transferido]>(0)))
GO
ALTER TABLE [dbo].[Cobros_Transferencias] CHECK CONSTRAINT [CHK_Monto_Transf_Positivo]
GO
ALTER TABLE [dbo].[Compras]  WITH CHECK ADD  CONSTRAINT [CHK_Descuento_Rango] CHECK  (([porcentaje_descuento]>=(0) AND [porcentaje_descuento]<=(99)))
GO
ALTER TABLE [dbo].[Compras] CHECK CONSTRAINT [CHK_Descuento_Rango]
GO
ALTER TABLE [dbo].[Cuenta_bancaria]  WITH CHECK ADD  CONSTRAINT [CHK_CBU_Cuenta_Longitud] CHECK  ((len([CBU])=(13)))
GO
ALTER TABLE [dbo].[Cuenta_bancaria] CHECK CONSTRAINT [CHK_CBU_Cuenta_Longitud]
GO
ALTER TABLE [dbo].[Empleados]  WITH CHECK ADD  CONSTRAINT [CHK_CUIL_Longitud] CHECK  ((len([CUIL])=(12)))
GO
ALTER TABLE [dbo].[Empleados] CHECK CONSTRAINT [CHK_CUIL_Longitud]
GO
ALTER TABLE [dbo].[Facturas_Ventas]  WITH CHECK ADD  CONSTRAINT [CHK_Letra_Factura] CHECK  (([letra]='M' OR [letra]='E' OR [letra]='C' OR [letra]='B' OR [letra]='A'))
GO
ALTER TABLE [dbo].[Facturas_Ventas] CHECK CONSTRAINT [CHK_Letra_Factura]
GO
ALTER TABLE [dbo].[Facturas_Ventas]  WITH CHECK ADD  CONSTRAINT [CHK_Sucursal_Factura_Rango] CHECK  (([sucursal]>=(1) AND [sucursal]<=(99999)))
GO
ALTER TABLE [dbo].[Facturas_Ventas] CHECK CONSTRAINT [CHK_Sucursal_Factura_Rango]
GO
ALTER TABLE [dbo].[Hijo_Empleado]  WITH CHECK ADD  CONSTRAINT [CHK_DNI_Hijo_Rango] CHECK  (([DNI_Hijo]>=(1000000) AND [DNI_Hijo]<=(999999999)))
GO
ALTER TABLE [dbo].[Hijo_Empleado] CHECK CONSTRAINT [CHK_DNI_Hijo_Rango]
GO
ALTER TABLE [dbo].[Items_Pedido]  WITH CHECK ADD  CONSTRAINT [CHK_Cantidad_Pedida_Positiva] CHECK  (([cantidad_pedida]>(0)))
GO
ALTER TABLE [dbo].[Items_Pedido] CHECK CONSTRAINT [CHK_Cantidad_Pedida_Positiva]
GO
ALTER TABLE [dbo].[Items_Remito]  WITH CHECK ADD  CONSTRAINT [CHK_Cantidad_Recibida] CHECK  (([cantidades_recibidas]>(0)))
GO
ALTER TABLE [dbo].[Items_Remito] CHECK CONSTRAINT [CHK_Cantidad_Recibida]
GO
ALTER TABLE [dbo].[Licencias_empleados]  WITH CHECK ADD  CONSTRAINT [CHK_Fechas_Consistentes] CHECK  (([fecha_fin]>=[fecha_inicio]))
GO
ALTER TABLE [dbo].[Licencias_empleados] CHECK CONSTRAINT [CHK_Fechas_Consistentes]
GO
ALTER TABLE [dbo].[ListasDePrecios]  WITH CHECK ADD  CONSTRAINT [CHK_Vigencia_Fechas] CHECK  (([vigencia_desde]<=[vigencia_hasta]))
GO
ALTER TABLE [dbo].[ListasDePrecios] CHECK CONSTRAINT [CHK_Vigencia_Fechas]
GO
ALTER TABLE [dbo].[Orden_de_Pago]  WITH CHECK ADD  CONSTRAINT [CHK_FechaPago_Valida] CHECK  (([fecha_pago]>=[fecha_alta]))
GO
ALTER TABLE [dbo].[Orden_de_Pago] CHECK CONSTRAINT [CHK_FechaPago_Valida]
GO
ALTER TABLE [dbo].[Orden_de_preparacion]  WITH CHECK ADD  CONSTRAINT [CHK_Cantidad_Preparada] CHECK  (([cantidad_preparada]>=(0)))
GO
ALTER TABLE [dbo].[Orden_de_preparacion] CHECK CONSTRAINT [CHK_Cantidad_Preparada]
GO
ALTER TABLE [dbo].[Personas]  WITH CHECK ADD  CONSTRAINT [CHK_DNI_Rango] CHECK  (([DNI]>=(1000000) AND [DNI]<=(999999999)))
GO
ALTER TABLE [dbo].[Personas] CHECK CONSTRAINT [CHK_DNI_Rango]
GO
ALTER TABLE [dbo].[Proveedores]  WITH CHECK ADD  CONSTRAINT [CHK_CBU_Longitud] CHECK  ((len([CBU])=(13)))
GO
ALTER TABLE [dbo].[Proveedores] CHECK CONSTRAINT [CHK_CBU_Longitud]
GO
ALTER TABLE [dbo].[Recibos]  WITH CHECK ADD  CONSTRAINT [CHK_Monto_Cobrado_Positivo] CHECK  (([monto_total_cobrado]>(0)))
GO
ALTER TABLE [dbo].[Recibos] CHECK CONSTRAINT [CHK_Monto_Cobrado_Positivo]
GO
ALTER TABLE [dbo].[Remitos_Ventas]  WITH CHECK ADD  CONSTRAINT [CHK_Sucursal_Rango] CHECK  (([sucursal]>=(1) AND [sucursal]<=(99999)))
GO
ALTER TABLE [dbo].[Remitos_Ventas] CHECK CONSTRAINT [CHK_Sucursal_Rango]
GO
/****** Objeto: StoredProcedure [dbo].[RegistrarIngresoTotal] Fecha de script: 13/06/2026 14:03:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[RegistrarIngresoTotal] 
    @IdOC INT, @Empleado INT, @Deposito INT, @Fecha DATE
AS
BEGIN
    DECLARE @idRemito INT;
    -- Cabecera del Remito
    INSERT INTO Remitos_Compras (fecha_alta, hora_alta, Numero_OC, DNI_Empleado_Receptor, Cod_deposito_Receptor)
    VALUES (@Fecha, '15:00', @IdOC, @Empleado, @Deposito);
    
    SET @idRemito = SCOPE_IDENTITY();

    -- Detalle del Remito (cantidades completas de la OC)
    INSERT INTO Items_Remito (id_remito, Numero_OC, ArticuloID, cantidades_recibidas)
    SELECT @idRemito, Numero_OC, ArticuloID, cantidad 
    FROM Items_Compra WHERE Numero_OC = @IdOC;
END;
GO
/****** Objeto: StoredProcedure [dbo].[sp_Actualizar_Contacto_Proveedor] Fecha de script: 13/06/2026 14:03:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Actualizar_Contacto_Proveedor]
    @IdProv INT,
    @SitioWeb NCHAR(50),
    @Banco CHAR(30)
AS
BEGIN
    UPDATE Proveedores
    SET sitio_web = @SitioWeb,
        banco = @Banco
    WHERE Id_interno_Prov = @IdProv;
END;
GO
/****** Objeto: StoredProcedure [dbo].[sp_Aprobar_Pedido_Distribuidor] Fecha de script: 13/06/2026 14:03:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Aprobar_Pedido_Distribuidor]
    @IdPedido INT,
    @DNIAprobador INT
AS
BEGIN
    SET NOCOUNT ON;

    -- Validación 1: Que el pedido exista
    IF NOT EXISTS (SELECT 1 FROM Pedidos_Distribuidores WHERE Id_pedido = @IdPedido)
    BEGIN
        RAISERROR ('El número de pedido no existe.', 16, 1);
        RETURN;
    END;

    -- Validación 2: Que no esté aprobado ya
    IF EXISTS (SELECT 1 FROM PedidosAprobados WHERE Id_pedido = @IdPedido)
    BEGIN
        RAISERROR ('El pedido ya se encuentra aprobado.', 16, 2);
        RETURN;
    END;

    -- Validación 3: Que el aprobador sea un empleado registrado
    IF NOT EXISTS (SELECT 1 FROM Empleados WHERE DNI = @DNIAprobador)
    BEGIN
        RAISERROR ('El DNI ingresado no corresponde a un empleado válido.', 16, 3);
        RETURN;
    END;

    -- Inserción en la tabla de subconjunto
    INSERT INTO PedidosAprobados (Id_pedido, fecha_aprobacion, hora_aprobacion, DNI_aprobador)
    VALUES (@IdPedido, GETDATE(), CAST(GETDATE() AS TIME), @DNIAprobador);
END;
GO
/****** Objeto: StoredProcedure [dbo].[sp_Cargar_Precio_Articulo] Fecha de script: 13/06/2026 14:03:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Cargar_Precio_Articulo]
    @CodLista INT,
    @ArticuloID INT,
    @Precio MONEY
AS
BEGIN
    SET NOCOUNT ON;-- no muentra los mensajes de lineas afectadas

    -- Validación 1: Que exista la lista de precios
    IF NOT EXISTS (SELECT 1 FROM ListasDePrecios WHERE Cod_Listas_Precios = @CodLista)
    BEGIN
        RAISERROR ('La lista de precios especificada no existe.', 16, 1);--mensaje, severidad (de 0 a 10 para informacion, 16 para errores de negocio 17a25 para errores criticos de hardware), estado (numero de validacion para ubicarla)
        RETURN;
    END;

    -- Validación 2: Que exista el artículo
    IF NOT EXISTS (SELECT 1 FROM articulos WHERE ArticuloID = @ArticuloID)
    BEGIN
        RAISERROR ('El artículo especificado no existe.', 16, 2);
        RETURN;
    END;

    -- Validación 3: Que el precio sea positivo
    IF @Precio <= 0
    BEGIN
        RAISERROR ('El precio asignado debe ser mayor a cero.', 16, 3);
        RETURN;
    END;

    -- Si pasa los controles, inserta o actualiza el precio
    IF EXISTS (SELECT 1 FROM Articulos_Precios WHERE Cod_Listas_Precios = @CodLista AND ArticuloID = @ArticuloID)
        UPDATE Articulos_Precios SET precio = @Precio WHERE Cod_Listas_Precios = @CodLista AND ArticuloID = @ArticuloID;
    ELSE
        INSERT INTO Articulos_Precios (Cod_Listas_Precios, ArticuloID, precio) VALUES (@CodLista, @ArticuloID, @Precio);
END;
GO
/****** Objeto: StoredProcedure [dbo].[sp_Registrar_Moneda] Fecha de script: 13/06/2026 14:03:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Registrar_Moneda]
    @IdMoneda INT,
    @Descripcion VARCHAR(50)
AS
BEGIn
    INSERT INTO Monedas (id_moneda, descripcion)
    VALUES (@IdMoneda, @Descripcion);
END;
GO
USE [master]
GO
